.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info>button{
    background:red;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: black;
    cursor: pointer;
}
.checkoutProduct__info>button:hover{
    box-shadow: 0 5px 50px 0 #eb0505 inset, 0 5px 50px 0 rgb(255, 0, 0);
}