.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__price{
    margin-top:5px;
}

.product__rating{
    display: flex;
}
.product > img{
    max-width:200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    
}

.product > button{
    background-color: aqua;
    border:1px solid;
    border-color: black;
    
}
.product > button:hover{
    background:linear-gradient(orange,#ffeb3b,orange, #ffeb3b);
}